body {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 800% 800%;
	animation: gradient 20s ease infinite;
	height: 100vh;
  margin: 0;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

  .achtergrondkleur{
    background-color: rgba(0, 0, 0, 0.5);
    margin: 0 15% 0 15%;
    padding: 10px;
  }

  h1{
    font-family: fantasy;
    text-align: center;
    color: white;
    font-size: 2.5em;
  }
  
  .p1{
      margin-top: 100px;
  }
  
  .p2{
      margin-top: 60px;
  }
  
  p{
      font-family: sans-serif;
      text-align: center;
      font-size: large;
      color: white;
  }
  
  .top5{
      text-align: center;
      list-style-position: inside;
  }
  
  .plaatje{
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 50%;
      height: 50%;
      border-radius: 20px;
      box-shadow: 0px 0px 20px white;
  }
  
  .plaatje2{
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 50%;
      height: 50%;
  }
  
  .plaatje3{
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 80%;
      height: 80%;
      border-radius: 10px;
      box-shadow: 10px 10px 20px white;
  }
    
  .box{
      display: block;
      margin: 20px;
      padding: 20px;
      border-radius: 10px;
      margin-left: 25%;
      margin-right: 25%;
      background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
      box-shadow: 10px 10px 20px white;
}
  a{
      font-family: sans-serif;
      text-align: center;
      font-size: large;
}

li{
  color: white;
  margin-left: 5%;
}