body {
	background: linear-gradient(-45deg, green, yellow, orange, red);
	background-size: 950% 950%;
	animation: gradient 20s ease infinite;
	height: 100vh;
    margin: 0;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.achtergrondkleur{
    background-color: rgba(0, 0, 0, 0.5);
    margin: 0 15% 0 15%;
    padding: 10px;
  }

h1{
    font-family: fantasy;
    text-align: center;
    color: white;
    font-size: 2.5em;
}

h2{
    color: black;
    font-family: sans-serif;
    text-align: center;
}

ol{
    margin-left: 5%;
}

li{
    color: black;
    margin-left: 5%;
    font-family: sans-serif;
}

p{
    font-family: sans-serif;
    text-align: center;
    font-size: large;
    color: black;
}

.box{
    display: block;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    margin-left: 25%;
    margin-right: 25%;
    background-color: white;
    box-shadow: 10px 10px 20px black;
}

.plaatje{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 50%;
    border-radius: 20px;
    box-shadow: 10px 10px 20px black;
}

.plaatje2{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 50%;
    border-radius: 20px;
    box-shadow: 10px 10px 20px black;
}

.plaatje3{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: 80%;
    border-radius: 10px;
    box-shadow: 10px 10px 20px black;
}

.plaatje4{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: 80%;
    border-radius: 10px;
    box-shadow: 10px 10px 20px black;
}